{% block content %}
{% load static %}

{% include 'header.html' %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <!-- Hero Start -->
    <div class="container-fluid bg-primary p-5 hero-header mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-1 text-white animated zoomIn">Add products</h1>
             
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Contact Start -->
   <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Add products</h5>
        </div>
        <div class="row g-12">
            <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded p-5">
                    <form action="addbook" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12">
                                <input type="text" class="form-control border-0 px-4" placeholder="Item name" name="item_name"  required title="Please enter Item name" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control border-0 px-4" placeholder="Price" name="price"  required title="Please enter your price" style="height: 55px;">
                            </div>
                            <div class="col-6">
                                <input type="date" id="date_picker" class="form-control border-0 px-4" placeholder="Date" name="date" required data-error="Please enter type" style="height: 55px;">
                            </div>
                            <script language="javascript">
                                var today = new Date();
                                var dd = String(today.getDate()).padStart(2, '0');
                                var mm = String(today.getMonth() + 1).padStart(2, '0');
                                var yyyy = today.getFullYear();

                                today = yyyy + '-' + mm + '-' + dd;
                                $('#date_picker').attr('min', today);
                            </script>
                            <div class="col-6">
                                <input type="text" class="form-control border-0 px-4" title="" placeholder="Description" name="disc"  required data-error="Please enter your description" style="height: 55px;">
                            </div>
							  <div class="col-6">
                                    <input type="file" class="form-control border-0 px-4" placeholder="" name="file"  required data-error="Please enter your file" style="height: 55px;">
                                </div>
                           
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" name="submit" type="submit">Add product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}

{% endblock %}